.home {
    text-align: center;
    width: 100%;

    .content {
        margin: 0px auto;
        width: 300px;
    }
}


a.link {
    padding: 0px 10px 20px;
    display: inline-block;
}

a.btn, button.btn {
    display: inline-block;
    background-color: rgb(149, 191, 255);
    color: black;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    &:hover {
        background-color: rgb(74, 146, 253);
    }
}

.predictions {
    font-size: 12px;
    text-align: center;
    // width: 100%;
    padding: 0px 10px;

    p.message {
        color: #ff7700;
        font-size: 12px;
    }

    ul {
        padding: 0px;
        margin: 0px;
        li {
            list-style: none;
        }
    }

    table {
        margin: 0 auto;
        border-collapse: collapse;
        
        tr {
            &.ok {
                &:nth-child(even) {
                    td {
                        background-color:#afa;
                    }
                }
                &:nth-child(odd) {
                    td {
                        background-color:#dfd;
                    }
                }
            }

            &.incomplete, &.error, &.saving {
                &:nth-child(even) {
                    td {
                        background-color:#faa;
                    }
                }
                &:nth-child(odd) {
                    td {
                        background-color:#fdd;
                    }
                }
            }

            th {
                border-bottom: 1px solid grey;
            }
            th,td {
                padding: 2px;
                line-height: 1.5;

                .nobr {
                    display: inline-block;
                    white-space: nowrap;
                    vertical-align: middle;

                    * {
                        vertical-align: middle;
                    }
                }
                span.teamName {
                    white-space: nowrap;
                    max-width: 15vw;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                }
                &.homeTeam {
                    text-align: right;
                }
                &.awayTeam {
                    text-align: left;
                }
                &.kickOff {
                    text-align: center;
                    border-right: 1px solid black;
                }
                &.finalScore {
                    text-align: center;
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                }
                &.myPredictions, &.otherPredictions {
                    padding: 0px;
                    text-align: left;
                }
                .statusMessage {
                    display: inline-block;
                    font-size: 12px;
                    button {
                        font-size: 12px;
                    }
                }

                input {
                    text-align: center;
                    width: 40px;
                    font-size: larger;
                    
                }
                input[type=checkbox] {
                    width: 15px;
                }

                .rankBox {
                    border: 1px solid grey;
                    background-color: #acf;
                    font-size: 10px;
                    padding: 3px;
                    vertical-align: middle;
                    margin: 4px;
                }

                
            }
            th {
                &.myPredictions, &.otherPredictions {
                    padding: 3px;
                }
            }

            &.totals {
                td {
                    font-weight: bold;
                    text-align: right;
                }
            }
        }
    }
}




img.teamLogo {
    display: inline-flex;
    vertical-align: bottom;
    padding: 0px 5px;
}

div.fullWidthScroller {
    width: 100%;
    overflow-x: auto;
}

.warning {
    font-weight: bold;
    color: orange;
}

table.predictions {
    
    .incorrect {
        background-color: #fcc;
        &.withBanker {
            background-color: #f55;
            border: 4px #ffff00 solid;
        }
    }
    .noPrediction {
        background-color: lighten(grey, 30%);
    }
    .correctResult {
        background-color: #8dffad;
        &.withBanker {
            background-color: #1aff1a;
            border: 4px #ffff00 solid;
        }
    }
    .correctGoalDifference {
        background-color: #1aff1a;
        &.withBanker {
            background-color: #00c600;
            border: 4px #ffff00 solid;
        }
    }
    .correctScore {
        background-color: #00c600;
        &.withBanker {
            background-color: #009000;
            border: 4px #ffff00 solid;
        }
    }
    tr {
        .multiplierBox {
            color: grey;
            font-weight: bold;
        }
        
        &.withBanker {
            .multiplierBox {
                color: black;
            }
        }
        &.incomplete, &.ok {
            .multiplierBox-2 {
                color: #44f;
            }
            .multiplierBox-3 {
                color: #4b4;
            }
        }

        td {
            white-space: nowrap;
        }
    }
}

span.points {
    text-align: right;
    font-size: smaller;
    display: inline-block;
    white-space: nowrap;
    // width: 60px;
}

.results {
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: 0px 10px;

    table {
        border-collapse: collapse;
        margin: 10px auto 20px;
        tr {
            td,th {
                border: 1px solid black;
                padding: 3px;
                &.totalPoints {
                    font-weight: bold;
                }
                
                &.faceCell {
                    text-align: left;
                }
                &.homeTeamCell {
                    text-align: right;
                    border-right: 0px;
                    vertical-align: top;
                }
                &.awayTeamCell {
                    text-align: left;
                    border-left: 0px;
                    vertical-align: top;
                }
                &.bankerMultipler {
                    font-size: 10px;
                    font-weight: bold;
                }
                &.bankerMultipler-2 {
                    color: #44f;
                }
                &.bankerMultipler-3 {
                    color: #4b4;
                }
            }

            &.myUser {
                td {
                    background-color: #95bfff;
                }
            }
        }
    }

    .averagePoints {
        font-weight: bold;
        padding-left: 50%;
    }

    .faceImage {
        width: 60px;
        display: inline-block;
    }
}

.upcomingPredictionWeeks {
    .statusBox {
        border: 0px;
        a {
            display: none;
        }
    }
}

@media all and (min-width: 800px) {
    .predictions {
        padding: 0px;
        font-size: 16px;
    }
    .results {
        padding: 0px;
        font-size: 16px;
    }

    table.predictions {
        th,td {
            padding: 5px;
        }
    }
}


// Loading

div.loading {
    display: inline-block;
    width: 20px;
    height: 20px;
}
div.loading:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: loading 1.2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}