.allPlayersWidget {
    table {
        border-collapse: collapse;
        td {
            border: 1px solid black;
        }
        tr.editing {
            td {
                color: lightgray;
            }
        }
        tr.locked {
            td {
                background-color: lightgreen;
                color: black;
            }
        }
    }
}