<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Predictor League 21-22">

    <link rel="icon" href="https://www.30yardsniper.co.uk/wp-content/uploads/2021/03/cropped-30ys_logo-2-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://www.30yardsniper.co.uk/wp-content/uploads/2021/03/cropped-30ys_logo-2-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://www.30yardsniper.co.uk/wp-content/uploads/2021/03/cropped-30ys_logo-2-180x180.png" />

    <title>Predictor 21-22</title>
    <style>
      <%= criticalCss %>
    </style>
  </head>
  <body>
    <div id="root">
      <div class="criticalLoading">
        <div class="smallLogo"></div>
        <p>Loading...</p>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </body>
</html>